.menu__link {
    color: #ffffffb6;
    line-height: 2;
    position: relative;
}

.menu__link:hover {
    color: #fff;
}

.menu__link::before {
    content: '';
    width: 0;
    height: 4px;
    background-color: rgb(128, 0, 0);
    position: absolute;
    bottom: -.75rem;
    left: 0;
    transition: width .4s;
}

.menu__link:hover::before {
    width: 100%;
    /* Adjust the width on hover */
}

.menu__link.active::before {
    width: 90%;
    /* Adjust the width when active */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .menu__link::before {
        height: 2px;
        /* Adjust the thickness for smaller screens */
        bottom: -.375rem;
        /* Adjust the position for smaller screens */

        /* Adjust the width for smaller screens */
    }

    .menu__link:hover::before,
    .menu__link.active::before {
        width: 10%;
        /* Adjust the width on hover and when active for smaller screens */
    }
}